.sidebar {
  background-color: var(--cta);
  background-color: var(--primary);
  background-color: var(--secondary);
  background-color: var(--accent);
  position: absolute;
  top: 0;
  left: -200px;

  width: 200px;
  padding: 1em;
  transition: .3s;
  z-index: 100;
  border-radius: .5em;
}
.sidebar:global(.isOpen) {
  left: 0;
}
.sidebarBtn {
  position: absolute;
  top: 1em;
  right: -1.2em;
  font-size: 1.5rem;
  transition: .3s;
}
.sidebar:global(.isOpen)  .sidebarBtn{
  top: .3em;
  right: .2em;
  font-size: 2rem;
}
.sidebarBtn svg{
  color: var(--text);
}
.sidebar:global(.isOpen)  .sidebarBtn svg{
  color: var(--cta);
}
.sidebarContent {
  margin-top: 2em;
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.sidebarContent h1{
  font-family: var(--ff-brand);
  margin-bottom: .5em;
  font-size: 1.15rem;
  text-align: center;
}
.sidebarContent ul{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  gap: .2em;
  padding: .5em 0;
}
.sidebarContent ul li{
  width: 100%;
  display: flex;  
  text-align: center;
}
.sidebarContent button {
  width: 100%;
  height: 100%;
  padding: .5em;
  color: var(--primary);
  color: var(--text);
  border-radius: .3em;
}

.listItem__active button{
  background-color: var(--cta); 
  color: var(--background); 
  background-color: var(--text); 
  color: var(--background); 
  
}
.sidebarContent li:hover button {
  background-color: var(--text); 
  color: var(--background); 
  width: 100%;
  padding: .5em;
  border-radius: .3em;
}
@media (min-width: 768px) {
  .sidebar {
    grid-column: 2;
    align-self: start;
    width: initial;
    padding: 1em;
    transition: .3s;
    position: static;
    margin-right: 2em;
  }
  .sidebarBtn {
    display: none;
  }
  .sidebarContent {
    margin-top: 0em;
  }
}