.hero {
	display: grid;
	grid-template-columns: 1fr 10fr 1fr;
	grid-template-rows: auto;
  position: relative;
  gap: 1em;
}
.illustration {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  color: #fff;
}
.illustration__img {
  grid-column: 1;
  grid-row: 1;
  height: 30em;
}
.illustration__img img{
  object-fit: cover;
  width: 100%;
}
.illustration__contents {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  padding: 1em 2em;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  align-items: start;
  text-shadow: 1px 1px 2px #000;
  
}
.illustration__contents h1 {
  font-family: var(--ff-brand);
  font-size: clamp(2rem, 4vw,3rem);
  text-transform: capitalize;
  color: #fff;
  color: var(--accent);

}
.illustration__contents p {
  max-width: 450px;
}
.typesOfGenre {
  font-style: italic;
  text-shadow: 2px 2px 0px #000;
  color: var(--accent);
  margin-bottom: 1em;
}
.sales {
  grid-column: 2;
  max-width: 450px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;

}

.sales_imgContainer {
  height: 12em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.sales_illustration {
  grid-column: 1;
  grid-row: 1;
  height: 100%;
  overflow: hidden;
}
.sales_imgContainer img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sales_contents {
  grid-column: 1;
  grid-row: 1;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 2rem;
  padding: 1em;
}
.sales_contents header {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  text-transform: uppercase;
}
.sales__title_1 {
  display: flex;
  justify-content: space-between;
  font-size: .9rem;
  font-weight: 400;

}
.sales__title_span {
  font-weight: 800;
  font-family: var(--ff-brand);
}
.sales__title_2 {
  font-size: 3.5rem;
  color: var(--accent);
  line-height: 1;
  
}
.sales__figure {
  font-family: var(--ff-brand);
  line-height: 1;
  display: inline-flex;
}
.sales__figure_num {
  line-height: .5;
  font-size: 5rem;
}
.sales__figure_per {
  font-size: .8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sales ul {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
.sales li {
  display: flex;
  align-items: center;
  gap: 1em;
  background-color: var(--accent);
  padding: .5em;
  border-radius: .5em;
}
.sales li span {
  display: inline-flex;
  align-items: center;
  gap: .1em;
}
.sales__icon svg {
  font-size: 2.5rem;
}
.sales li {
  font-size: .65rem;
  text-transform: uppercase;
}
.sales li h1 {
  font-size: clamp(1rem, 1vw, 1.2rem);
}



@media (min-width: 768px) {
	.hero {
		grid-template-columns: 1fr 7fr 3fr 1fr;
		grid-template-rows: auto;
    gap: .7em;
    min-height: 80vh;
	}
  .illustration {
    grid-column: 2;
    grid-row: 1;
    height: inherit;
    border-radius: .5em;
    overflow: hidden;
  }
  .illustration__img {
    height: 100%;
  }
  .illustration__contents {
    height: 100%;
  }
  .sales {
    grid-column: 3;
    grid-row: 1;

    max-width: initial;
    margin-inline: 0;
  }
  .sales_imgContainer {
    flex: 1;
    height: initial;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    border-radius: .5em;
    overflow: hidden;
  }

}
